<a href="/" class="btn btn-ghost text-xl font-headline normal-case gap-2 -ml-3">
  <img src="/logo.svg" alt="Brewcode" class="w-7 h-7" />
  <span class="text-base-content">Brewcode <span class="text-primary font-normal text-sm">Docs</span></span>
</a>
