---
// No props -- renders a fixed update notice footer for skill pages.
---

<div class="not-prose alert alert-info my-6">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-5 h-5">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <div>
    <h4 class="font-semibold">Updating plugins</h4>
    <div class="text-sm">
      Use <code>/brewtools:plugin-update</code> to check and update the brewcode plugin suite in one command.
      See the <a href="/faq/" class="link">FAQ</a> for details.
    </div>
  </div>
</div>
